#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body, html{
    height: 100%;
    overflow-x: hidden!important;
 	background-repeat: no-repeat;
 	/*background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);*/
 	/*font-family: 'Oxygen', sans-serif;*/
	background-size: cover;
}

.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    padding-top: 3px;
}

/*.main-login{
 	background-color: #fff;
    /* shadows and rounded borders *
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}*/
.form-control {
    height: auto!important;
	padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    /*width: 100%!important;*/
    
}
#button {
    cursor: pointer;
	-moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
}
.main-center{
 	margin: 0 auto;
 	border-radius: 10px;
 	max-width: 600px;
    padding: 10px 40px;
	color: #333;
	border: 2px solid #333;
	/*background:#009edf;*/
	/*margin-top: 30px;*/
    /*text-shadow: none;*/
	/*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);*/

}
.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}